form {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    margin-right: 10%;
}

form .error {
    color: red;
    min-height: 5px;
}

input.invalid {
    border: 1px solid red;
}

.valid {
    border: 2px solid green;
}



[data-close] {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 4px;
    padding:5px;
    background-color: #3A6EA5;
}

#passwordToggle {
    position: absolute;
    margin-left: 1rem;
}