/* NAVBAR */

.nav-bar {
    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.nav-bar a {
    text-decoration: none;
    font-weight: 500;
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    padding:5px;
    background-color: #3A6EA5;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.form-intro {
    width: 50%;
    background-color: #fff7e9;
    border-left: 4px solid #c97e38;
    padding: 1.5rem;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.form-intro h2 {
    color: #c97e38;
    margin-bottom: 0.5rem;
}

.form-intro ul {
    list-style: none;
    padding: 0;
}

.form-intro li {
    margin: 0.3rem 0;
}

form header {
    align-self:flex-end;
}

.success-message {
    visibility: visible;
    color: whitesmoke;
    position: fixed;
    bottom: -10%;
    right: 30px;
    background-color: #22bb33;
    border-radius: 5px;
    padding: 5px;
    transition: bottom 1s ease-in-out;
}

.success-message.show {
    visibility: visible;
    bottom: 30px;
}

