body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 233, 199);
}

/* FILTRE MODAL */

#modalFilter {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(215, 215, 215, 0.413);
    backdrop-filter: blur(1px);
    z-index: 9;
}


/* MODAL */
.modal {
    pointer-events: none;
    margin:auto;
    position: absolute;
    top: 15%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    gap:5px;
    width: 700px;
    height: 500px;
    padding: 15px;
    background-color: rgb(253, 181, 181);
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.animate-opacity {
    opacity: 1;
    pointer-events: auto;
}

