body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 233, 199);
}

/* FILTRE MODAL */

#modalFilter {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(215, 215, 215, 0.413);
    backdrop-filter: blur(1px);
    z-index: 9;
}


/* MODAL */
.modal {
    pointer-events: none;
    margin:auto;
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5%;
    width: 500px;
    height: 400px;
    padding: 15px;
    background-color: rgb(253, 181, 181);
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.animate-opacity {
    opacity: 1;
    pointer-events: auto;
}

/* NAVBAR */

.nav-bar {
    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-wrap: nowrap; */
    gap: 10%;
}

.nav-bar a {
    text-decoration: none;
    font-weight: 500;
    color: whitesmoke;
    border: 3px solid black;
    border-radius: 5px;
    padding:5px;
    background-color: #3A6EA5;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.form-intro {
    width: 50%;
    background-color: #fff7e9;
    border-left: 4px solid #c97e38;
    padding: 1.5rem;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.form-intro h2 {
    color: #c97e38;
    margin-bottom: 0.5rem;
}

.form-intro ul {
    list-style: none;
    padding: 0;
}

.form-intro li {
    margin: 0.3rem 0;
}
